/* Critical CSS */
:root {
    --black-color: #0D0D0D;
    --hover-color: #D38B1D;
    --white-color: #FFFFFF;
    --primary-color: #F8B411;
    --bold: 'Gilroy-Bold', sans-serif;
    --heavy: 'Gilroy-Heavy', sans-serif;
    --light: 'Gilroy-Light', sans-serif;
    --medium: 'Gilroy-Medium', sans-serif;
    --special: 'Belgan-Aesthetic', Courier;
    --regular: 'Gilroy-Regular', sans-serif;
}

/* Font Face */
@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy-Heavy';
    src: url('../fonts/Gilroy-Heavy.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy-Light';
    src: url('../fonts/Gilroy-Light.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('../fonts/Gilroy-Medium.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Belgan-Aesthetic';
    src: url('../fonts/Belgan-Aesthetic.ttf') format('truetype');
    font-display: swap;
}

/* Base Reset */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
    scroll-padding-top: 40px;
}

body {
    color: var(--black-color);
    font-family: var(--regular);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: var(--white-color);
}

/* General Styling */
section {
    width: 90%;
    display: grid;
    margin: 0 auto;
    overflow-x: hidden;
    place-items: center;
}

section .title {
    width: 100%;
    margin-top: 40px;
    text-align: center;
    padding-block: 2.5rem;
}

footer h2,
section .title h2,
.hero .hero-text h1 {
    opacity: 0;
    font-size: 40px;
    font-family: var(--bold);
    transform: translateY(80px);
    transition: all 0.8s ease-out;
}

footer h2 span,
section .title h2 span,
.hero .hero-text h1 span {
    font-style: italic;
    font-family: var(--special);
}

/* 1. Fade In Up */
footer h2.visible,
section .title h2.visible,
.hero .hero-text h1.visible {
    opacity: 1;
    transform: translateY(0);
}

p {
    opacity: 0;
    transform: translateY(80px);
    transition: all 0.8s ease-out;
}

p.visible {
    opacity: 1;
    transform: translateY(0);
}

button {
    border: 0;
    color: inherit;
    cursor: pointer;
    background-color: transparent;
}

header .chat,
footer form button,
.hero .hero-text a,
.content-wrapper a,
.portfolio-container>button {
    font-size: 1rem;
    position: relative;
    border-radius: 10px;
    padding: 1rem 1.5rem;
    color: var(--black-color);
    transition: all 0.3s ease;
    font-family: var(--medium);
    background-color: var(--primary-color);
}

aside button:hover,
header .chat:hover,
.see-more-btn:hover,
footer form button:hover,
.hero .hero-text a:hover,
.content-wrapper a:hover,
.portfolio-container button:hover {
    background-color: var(--hover-color);
}

/* Navigation styles */
header {
    width: 90%;
    z-index: 999;
    display: flex;
    margin: 0 auto;
    position: sticky;
    padding-block: 1rem;
    align-items: center;
    inset: 0 auto auto 0;
    justify-content: space-between;
    background-color: var(--white-color);
}

header::before {
    width: 100%;
    content: '';
    z-index: -1;
    height: 86px;
    position: fixed;
    inset: 0 auto auto 0;
    background-color: var(--white-color);
}

header .logo img {
    width: auto;
    height: 50px;
}

header button i {
    font-size: 25px;
}

header nav {
    display: flex;
    column-gap: 6rem;
    align-items: center;
    padding-bottom: .5rem;
}

aside,
header nav,
header .chat {
    display: none;
}

header nav a {
    font-size: 1rem;
    position: relative;
    color: var(--black-color);
    font-family: var(--medium);
    transition: all 0.3s ease-in-out;
}

aside nav a::after,
header nav a::after {
    left: 0;
    width: 0;
    height: 2px;
    content: '';
    bottom: -5px;
    margin: 0 auto;
    position: absolute;
}

aside nav a.active::after,
header nav a:hover::after,
header nav a.active::after {
    width: 60%;
    transition: width 0.3s;
    background-color: var(--black-color);
}

::selection,
aside nav a.active::after,
header nav a.active::after {
    background-color: var(--primary-color);
}

aside {
    inset: 0;
    gap: 6rem;
    width: 100%;
    height: 100%;
    z-index: 9999;
    position: fixed;
    padding: 5rem 3rem;
    align-content: center;
    background-color: var(--black-color);
}

aside.open {
    display: grid;
}

aside button,
.overlay-content button {
    width: 30px;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50%;
    justify-self: flex-end;
    color: var(--black-color);
    background-color: var(--primary-color);
}

aside nav {
    gap: 3rem;
    width: 100%;
    display: grid;
    justify-items: flex-end;
}

aside nav a {
    font-size: 40px;
    position: relative;
    height: max-content;
    font-family: var(--bold);
    color: var(--white-color);
}

aside nav a::after {
    height: 4px;
}

aside nav a.active,
.footer-bottom div a:hover {
    color: var(--primary-color);
}

/* Hero section styles*/
.hero {
    gap: 100px;
    padding-top: 50px;
}

.hero .hero-text {
    text-align: center;
}

.hero .hero-text h1 {
    font-size: 48px;
    line-height: 1.1;
    margin-bottom: 45px;
    font-family: var(--bold);
}

.hero .hero-media {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 16px;
}

.hero .hero-media video {
    width: 100%;
    height: auto;
    border-radius: 16px;
}

/*  About section styling */
#about,
#clients {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.know-us-content {
    width: 100%;
    display: grid;
    overflow: hidden;
    min-height: 50vh;
    position: relative;
    place-items: center;
}

/* Dark overlay */
.know-us-content::before {
    inset: 0;
    z-index: 1;
    content: '';
    position: absolute;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.2);
}

.know-us-content img {
    inset: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    pointer-events: none;
}

.content-wrapper {
    width: 75%;
    z-index: 2;
    position: relative;
    color: var(--white-color);
    font-family: var(--light);
}

.content-wrapper p {
    overflow: hidden;
    line-height: 1.5;
    font-size: 1.3rem;
    margin-bottom: 40px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

/* Services section styling */
.services-container {
    gap: 20px;
    width: 100%;
    display: grid;
    margin: 0 auto;
}

.service-card {
    width: 100%;
    height: 200px;
    display: flex;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    align-items: center;
    border-radius: 16px;
    will-change: transform;
    justify-content: center;
    transition: all 0.3s ease;
}

.service-card::before {
    inset: 0;
    z-index: 1;
    content: '';
    position: absolute;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.service-card img {
    inset: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    border-radius: 16px;
    pointer-events: none;
}

.service-title {
    z-index: 2;
    font-size: 1.8rem;
    position: relative;
    text-align: center;
    color: var(--white-color);
    font-family: var(--medium);
}

/* why choose us section */
.why-choose-us-text {
    line-height: 1.5;
    font-size: 1.2rem;
    text-align: center;
    text-wrap: balance;
    word-break: break-word;
    font-family: var(--regular);
}

.video-wrapper {
    width: 100%;
    height: 60vh;
    position: relative;
    border-radius: 25px;
    margin: 65px auto 0 auto;
}

.video-wrapper::before {
    inset: 0;
    z-index: 2;
    width: 100%;
    content: '';
    height: 100%;
    position: absolute;
    border-radius: 30px;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.35);
}

.video-wrapper video {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    position: relative;
    border-radius: 30px;
}

.play-pause-btn {
    inset: 50%;
    z-index: 10;
    width: 100px;
    height: 100px;
    font-size: 3rem;
    border-radius: 50%;
    position: absolute;
    color: var(--white-color);
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Clients section Styles */
.clients-carousel {
    width: 100%;
    cursor: grab;
    padding: 40px 0;
    overflow: hidden;
    position: relative;
    touch-action: pan-y;
}

.carousel-track {
    gap: 1rem;
    display: flex;
    will-change: transform;
}

.carousel-slide {
    width: 33.33%;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    padding-inline: 0.5rem;
    justify-content: center;
}

.carousel-slide img {
    width: auto;
    max-height: 50px;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.carousel-slide img:hover {
    filter: grayscale(0%);
}

/* Project section styles */
.portfolio-container {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

.portfolio-grid {
    gap: 20px;
    display: grid;
    margin-bottom: 40px;
}

.portfolio-item {
    width: 100%;
    height: 40vh;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.portfolio-item:nth-child(n+3) {
    display: none;
}

.portfolio-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    will-change: transform;
    transition: transform 0.3s ease;
}

.portfolio-item:hover img {
    transform: scale(1.05);
}

.overlay {
    inset: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1000;
    position: fixed;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.85);
}

.overlay-content {
    max-width: 85%;
    max-height: 100%;
    position: relative;
}

.overlay-content img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.overlay-content button {
    top: 10px;
    right: 10px;
    position: absolute;
}

/* contact section styles */
#contact {
    scroll-margin-top: 50px;
    margin: 30px auto 50px auto;
}

.contact-row {
    gap: 15px;
    width: 100%;
    display: flex;
    padding: 32px 0;
    flex-direction: column;
    justify-content: space-between;
}

.contact-link {
    gap: 10px;
    display: flex;
    font-weight: bold;
    font-size: 1.5rem;
    align-items: center;
    letter-spacing: 0.5px;
    transition: color 0.2s;
    font-family: var(--bold);
    color: var(--black-color);
}

.contact-icon i {
    z-index: 10;
    cursor: pointer;
}

.contact-icon {
    width: 50px;
    height: 50px;
    display: grid;
    font-size: 1.5rem;
    border-radius: 50%;
    place-items: center;
    background-color: #F5F3F3;
}

/* Footer Styles */
footer {
    padding: 0;
    width: 100%;
    position: relative;
    color: var(--white-color);
    background: url('../images/footer.webp') center/cover no-repeat;
}

footer::before {
    inset: 0;
    z-index: 0;
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.35);
}

footer>div {
    width: 100%;
    z-index: 1;
    padding: 40px;
    display: flex;
    margin: 0 auto;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

footer h2 {
    font-size: 3rem;
    min-width: 12ch;
    line-height: 1.2;
    font-weight: 400;
    text-align: center;
    white-space: normal;
    margin-bottom: 40px;
    display: inline-block;
    font-family: var(--bold);
    color: var(--white-color);
}

footer form {
    gap: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

footer form input {
    flex: 1;
    width: 100%;
    outline: none;
    font-size: 1rem;
    padding: 15px 20px;
    border-radius: 8px;
    font-family: var(--regular);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

footer form input,
footer form input:focus::placeholder {
    color: var(--white-color);
}

footer form input:focus {
    border: 1px solid var(--white-color);
}

footer div>span {
    width: 100%;
    height: 2px;
    opacity: 0.7;
    margin: 40px 0 30px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-bottom {
    gap: 20px;
    width: 100%;
    display: flex;
    margin-top: 0;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.footer-bottom div {
    gap: 20px;
    width: 100%;
    display: flex;
}

.footer-bottom div:first-child {
    justify-content: center;
}

.footer-bottom div:last-child {
    justify-content: space-between;
}

.footer-bottom div a {
    transition: color 0.3s;
    color: var(--white-color);
    font-family: var(--light);
}

.footer-bottom div:first-child a {
    font-size: 1.4rem;
}