* {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 100%;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --text-color: #0D0D0D;
    --black-color: #000000;
    --hover-color: #D38B1D;
    --white-color: #FFFFFF;
    --primary-color: #F8B411;
    --bold: 'Gilroy-Bold', sans-serif;
    --heavy: 'Gilroy-Heavy', sans-serif;
    --light: 'Gilroy-Light', sans-serif;
    --medium: 'Gilroy-Medium', sans-serif;
    --special: 'Belgan-Aesthetic', Courier;
    --regular: 'Gilroy-Regular', sans-serif;
}

/* === Import Gilroy Fonts === */
@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../fonts/Gilroy-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy-Heavy';
    src: url('../fonts/Gilroy-Heavy.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy-Light';
    src: url('../fonts/Gilroy-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('../fonts/Gilroy-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: url('../fonts/Gilroy-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Belgan-Aesthetic';
    src: url('../fonts/Belgan-Aesthetic.ttf') format('truetype');
}

body {
    overflow-x: hidden;
    font-family: var(--regular);
    background-color: var(--white-color);
}

/* General Styling */
section {
    scroll-margin-top: 40px;
}

section .title {
    width: 100%;
    padding: 2.5rem;
    margin-top: 40px;
    text-align: center;
    background-color: #FFFFFF;
}

section .title h1 {
    font-size: 64px;
    color: var(--text-color);
    font-family: var(--bold);
}

/* 1. Fade In Up */
.fade-in-up {
    opacity: 0;
    transform: translateY(80px);
    transition: all 0.8s ease-out;
}

.fade-in-up.visible {
    opacity: 1;
    transform: translateY(0);
}

p {
    opacity: 0;
    transform: translateY(80px);
    transition: all 0.8s ease-out;
}

p.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Navigation styles */
header {
    width: 85%;
    z-index: 999;
    display: flex;
    margin: 0 auto;
    position: sticky;
    padding-block: 1rem;
    inset: 0 auto auto 0;
    align-items: flex-end;
    justify-content: space-between;
    background-color: var(--white-color);
}

header::before {
    width: 100%;
    content: "";
    z-index: -1;
    height: 86px;
    position: fixed;
    inset: 0 auto auto 0;
    background-color: var(--white-color);
}

header .logo img {
    width: auto;
    height: 50px;
}

header nav {
    display: flex;
    column-gap: 6rem;
    align-items: center;
    padding-bottom: .5rem;
}

header nav a {
    font-size: 1rem;
    position: relative;
    color: var(--text-color);
    font-family: var(--medium);
    transition: all 0.3s ease-in-out;
}

header nav a::after {
    left: 0;
    width: 0;
    height: 2px;
    content: '';
    bottom: -5px;
    margin: 0 auto;
    position: absolute;
    border-radius: 30px;
    /* transition: width 0.3s ease; */
    background-color: var(--black-color);
}

header nav a.active::after,
header nav a:hover::after {
    width: 60%;
    transition: width 0.3s;
    background-color: var(--black-color);
}

header .chat {
    font-size: 1rem;
    position: relative;
    border-radius: 10px;
    padding: 1rem 1.5rem;
    color: var(--text-color);
    /* transition: all 0.3s ease; */
    font-family: var(--medium);
    background-color: var(--primary-color);
}

header .chat:hover {
    /* transform: translateY(-3px); */
    background-color: var(--hover-color);
}

/* Hero section styles*/
.hero {
    gap: 40px;
    width: 85%;
    display: flex;
    margin: 0 auto;
    padding-top: 50px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.hero-text {
    width: 855px;
    height: 252px;
    text-align: center;
}

.hero-text h1 {
    font-size: 48px;
    line-height: 1.1;
    margin-bottom: 45px;
    font-family: var(--bold);
    color: var(--black-color);
}

.hero-text h1 span {
    /* color: var(--primary-color); */
    font-style: italic;
    font-family: var(--special);
}

.hero-text a {
    font-size: 24px;
    font-weight: 400;
    padding: 1rem 2rem;
    border-radius: 10px;
    display: inline-block;
    color: var(--text-color);
    /* transition: all 0.3s ease; */
    font-family: var(--medium);
    background-color: var(--primary-color);
}

.hero-text a:hover {
    /* transform: translateY(-3px); */
    background-color: var(--hover-color);
}

.hero-media {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 16px;
}

.hero-media video {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

/*  Who we are section styling */
.know-us-section {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.know-us-content {
    width: 100%;
    display: flex;
    overflow: hidden;
    min-height: 60vh;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* Dark overlay */
.know-us-content::before {
    inset: 0;
    z-index: 1;
    content: '';
    position: absolute;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.2);
}

.know-us-content img {
    inset: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    pointer-events: none;
}

.content-wrapper {
    width: 80%;
    z-index: 2;
    max-width: 800px;
    position: relative;
    color: var(--white-color);
    font-family: var(--light);
}

.content-wrapper p {
    line-height: 1.5;
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 40px;
}

.content-wrapper a {
    font-size: 24px;
    border-radius: 10px;
    padding: .6rem 1.5rem;
    color: var(--text-color);
    font-family: var(--medium);
    background-color: var(--primary-color);
    transition: background-color 0.3s ease;
}

.content-wrapper a:hover {
    background-color: var(--hover-color);
}

#services {
    width: 85%;
    display: flex;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.services-container {
    gap: 20px;
    width: 100%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
}

.service-card {
    width: 100%;
    height: 200px;
    display: flex;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    align-items: center;
    border-radius: 16px;
    justify-content: center;
    transition: all 0.3s ease;
}

/* Background overlay */
.service-card::before {
    inset: 0;
    z-index: 1;
    content: '';
    position: absolute;
    pointer-events: none;
    transition: background 0.3s;
    background: rgba(0, 0, 0, 0.5);
}

/* Service images now as <img> */
.service-card img {
    inset: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    border-radius: 16px;
    pointer-events: none;
}

.service-title {
    z-index: 2;
    font-size: 1.8rem;
    position: relative;
    color: var(--white-color);
    font-family: var(--medium);
}

/* why choose us section */
.why-choose-us-section {
    display: grid;
    place-items: center;
}

.why-choose-us-text {
    width: 800px;
    margin: 0 auto;
    line-height: 1.5;
    text-align: center;
    font-size: 1.25rem;
    color: var(--text-color);
    font-family: var(--regular);
}

/* why choose us video */
.play-pause-btn {
    inset: 50%;
    z-index: 10;
    width: 150px;
    height: 150px;
    padding: 15px;
    cursor: pointer;
    font-size: 50px;
    position: absolute;
    border-radius: 50%;
    color: var(--white-color);
    transform: translate(-50%, -50%);
    /* background-color: rgba(0, 0, 0, 0.6); */
}

.play-pause-btn i {
    top: 15%;
    left: 32%;
    font-size: 6rem;
    position: absolute;
    pointer-events: none;
    /* Ensures clicks go to the button, not the icon */
}

.video-wrapper::before {
    inset: 0;
    z-index: 2;
    width: 100%;
    content: '';
    height: 100%;
    position: absolute;
    border-radius: 30px;
    pointer-events: none;
    /* So it doesn't block clicks */
    background: rgba(0, 0, 0, 0.35);
    /* Adjust opacity as needed */
}

.video-wrapper {
    width: 85%;
    height: 70vh;
    position: relative;
    border-radius: 25px;
    margin: 65px auto 0 auto;
}

.video-wrapper video {
    width: 100%;
    height: 70vh;
    display: block;
    object-fit: cover;
    position: relative;
    border-radius: 30px;
}

/* Partners Carousel Styles */
.partners-carousel-container {
    width: 100%;
    margin: 0 auto;
    padding: 40px 0;
    overflow: hidden;
    position: relative;
}

.partners-carousel {
    width: 100%;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    animation: scrollX 20s linear infinite;
    /* Slow, steady scrolling */
}

@keyframes scrollX {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
        /* Move exactly one set of slides */
    }
}

/* .carousel-track:hover {
    animation-play-state: paused; /* Pause on hover 
} */

.carousel-slide {
    display: flex;
    flex-shrink: 0;
    /* padding: 0 15px; */
    align-items: center;
    justify-content: center;
    min-width: calc(100% / 4);
    /* Show 4 slides at once on desktop */
}

.carousel-slide img {
    width: auto;
    max-height: 80px;
    object-fit: contain;
}

/* brandhive project */
#projects {
    width: 85%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.portfolio-container {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
}

.portfolio-grid {
    gap: 20px;
    display: grid;
    margin-bottom: 30px;
    grid-template-columns: repeat(2, 1fr);
}

.portfolio-item {
    width: 100%;
    height: 40vh;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.portfolio-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.portfolio-item:hover img {
    transform: scale(1.05);
}

/* See more button */
.see-more-container {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.see-more-btn {
    display: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 12px 24px;
    border-radius: 5px;
    color: var(--black-color);
    transition: all 0.3s ease;
    font-family: var(--medium);
    background-color: var(--primary-color);
}

.see-more-btn:hover {
    transform: translateY(-3px);
    background-color: var(--hover-color);
}

/* Overlay styles */
.overlay {
    inset: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1000;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.85);
}

.overlay-content {
    max-width: 100%;
    max-height: 100%;
    position: relative;
}

.overlay-content img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}

.close-btn {
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    color: #333;
    display: flex;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    border-radius: 50%;
    align-items: center;
    background: #F8B411;
    justify-content: center;
}

/* contact us */
#contact {
    width: 85%;
    padding-inline: 30px;
    scroll-margin-top: 90px;
    margin: 0 auto 50px auto;
}

.contact-row {
    width: 100%;
    display: flex;
    padding: 32px 0;
    align-items: center;
    justify-content: space-between;
}

.contact-link {
    gap: 12px;
    display: flex;
    font-weight: bold;
    font-size: 1.5rem;
    align-items: center;
    letter-spacing: 0.5px;
    transition: color 0.2s;
    color: var(--text-color);
    font-family: var(--bold);
}

.brandhive-contact-icon i {
    z-index: 10;
    cursor: pointer;
}

.brandhive-contact-icon {
    width: 50px;
    height: 50px;
    display: flex;
    font-size: 1.5rem;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: #e8eddf;
}

/* Footer Styles */
footer {
    padding: 0;
    width: 100vw;
    position: relative;
    color: var(--white-color);
    background: url('../images/brandhive-footer-background.webp') center/cover no-repeat;
}

footer::before {
    inset: 0;
    z-index: 0;
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.35);
}

.footer-container {
    z-index: 1;
    width: 85%;
    padding: 40px;
    display: flex;
    margin: 0 auto;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* Tagline */
.footer-tagline {
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    margin-bottom: 40px;
    justify-content: center;
}

.footer-tagline h2 {
    margin: 0;
    width: 900px;
    line-height: 1.2;
    font-weight: 400;
    font-size: 4.5rem;
    text-align: center;
    font-family: var(--bold);
    color: var(--white-color);
}

.fade-in-up span {
    font-style: italic;
    font-family: var(--special);
}

/* Contact Form */
.footer-form {
    gap: 20px;
    width: 85%;
    display: flex;
    align-items: center;
    padding-bottom: 60px;
    flex-direction: column;
    justify-content: center;
}

input {
    color: var(--white-color);
}

.footer-input {
    flex: 1;
    width: 600px;
    outline: none;
    font-size: 1.1rem;
    padding: 18px 20px;
    border-radius: 8px;
    font-family: var(--regular);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-input::placeholder {
    color: rgba(255, 255, 255, 0.3);
}

.footer-input:focus {
    border: 1px solid var(--white-color);
}

.footer-input:focus::placeholder {
    color: var(--white-color);
}

.footer-btn {
    width: 180px;
    height: 54px;
    display: flex;
    color: #222;
    cursor: pointer;
    padding: 0 30px;
    font-size: 1.1rem;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    font-family: var(--medium);
    /* transition: background 0.3s; */
    background-color: var(--primary-color);
}

.footer-btn:hover {
    background: var(--hover-color);
}

/* Divider line */
.footer-divider {
    width: 100%;
    height: 2px;
    opacity: 0.7;
    background: none;
    margin: 40px 0 30px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

/* Footer Bottom */
.footer-bottom {
    width: 100%;
    display: flex;
    margin-top: 0;
    align-items: center;
    justify-content: space-between;
}

.social-links {
    gap: 20px;
    display: flex;
}

.social-links a {
    color: #fff;
    font-size: 1.4rem;
    transition: color 0.3s;
}

.social-links a:hover {
    color: var(--primary-color);
}

.legal-links {
    gap: 30px;
    display: flex;
}

.legal-links a {
    font-size: 1rem;
    transition: color 0.3s;
    font-family: var(--light);
    color: rgba(255, 255, 255, 0.7);
}

.legal-links a:hover {
    color: var(--primary-color);
}

.coming-soon {
    display: none;
}